/* article 1 */

main {
	display: grid;
	grid-template-columns: 1fr;
}

main article {
	margin-bottom: 2em;
}

main article a {
	font-family: "sodo-sans-bold";
}

article:nth-of-type(1) {
	background-color: #006241;
	color: white;
	position: relative;
	padding: 0;
}

article:nth-of-type(1) img {
	width: 100%;
	display: block;
	/* randje onder foto weg */
}

/* locatie button */
article:nth-of-type(1) a {
	padding: 0.8em;
	color: black;
	text-decoration: none;
	background-color: white;
	border-radius: 2em;
	margin: 1.5em;
}

/* pagina titel Starbucks */
article:nth-of-type(1) h1 {
	font-size: 1.2em;
	padding: 1.5em;
	margin-top: 0;
}

/* De feestdagen klassiekers zijn terug */
article:nth-of-type(1) h2 {
	position: absolute;
	top: 7em;
	right: 7em;
	bottom: 8em;
	left: 1em;
}

article:nth-of-type(1) p {
	margin-top: 0;
}


/* article 1 voor groot scherm  */
@media(min-width:920px) {
	main {
		display: grid;
		grid-template-columns: repeat(2, 1fr);
		margin-left: 12em;
		margin-right: 12em;
	}

	/* eerste en laaste article blijven staan */
	main article:nth-of-type(1) {
		grid-column: span 2;
		margin-left: 1em;
		margin-right: 13em;
		border-radius: 0.5em;

		padding-left: 26em;

		display: flex;
		flex-direction: row;
		justify-content: center;
		align-items: center;
	}

	/* De feestdagen klassiekers zijn terug */
	article:nth-of-type(1) h2 {
		position: absolute;
		top: 0.3em;
		right: 2em;
		bottom: 8em;
		left: 18em;
	}

	/* pagina titel Starbucks */
	article:nth-of-type(1) h1 {
		font-size: 2em;
		position: absolute;
		top: 2em;
		bottom: 8em;
		left: 0em;
	}

	/* locatie button */
	article:nth-of-type(1) a {
		margin-top: 10em;
		position: absolute;
		left: 0;

	}

}


/* article 2 */
article:nth-of-type(2) {
	background-color: #006241;
	color: #eee;
	border-radius: 1em;
	padding-bottom: 1em;
	position: relative;
	margin: 1em;
}

article:nth-of-type(2) a {
	text-decoration: none;
	color: black;
	background-color: white;
	padding: 1em;
	margin: 2em;
	border-radius: 2em;
}

/* stanley foto */
article:nth-of-type(2) img {
	width: 100%;
	display: block;
	border-top-left-radius: 1em;
	border-top-right-radius: 1em;
}

/* stanley icoon */
article:nth-of-type(2) img:nth-of-type(2) {
	width: 7%;
	position: absolute;
	top: 4em;
	right: 7em;
	left: 3em;
	bottom: 0;

}


/* de limited editon starbucks.. */
article:nth-of-type(2) p {
	padding: 0 2em;
}

/* starbucks */
article:nth-of-type(2) h2 {
	position: absolute;
	top: .5em;
	right: 7em;
	left: 2em;
	bottom: 0;
	font-size: 1.5em;
}

/* stanley */
article:nth-of-type(2) h2:nth-of-type(2) {
	font-size: 1.5em;
	position: absolute;
	top: 1.8em;
	right: 7em;
	left: 4em;
	bottom: 0;
}


/* "limited Edition" */
article:nth-of-type(2) p:nth-of-type(2) {
	font-size: 0.75em;
	position: absolute;
	padding: 0 2em;
	top: 11em;
	background-color: #006241;
	left: 8em;
}

article:nth-of-type(2) h3 {
	margin: 1.3em;
}

/* geholpen door aya, verschillende p's aanspreken in 1 article */
/* jouw favoriete formaat */
article:nth-of-type(2) p:nth-of-type(1) {
	font-size: 0.8em;
	position: absolute;
	padding: 0 2em;
	top: 7em;
	left: 2em;
	right: 13em;
}



/* article 3 */
article:nth-of-type(3) {
	background-color: #eee;
	color: #000000DE;
	border-radius: 1em;
	padding-bottom: 1em;
	margin: 1em;
}

article:nth-of-type(3) a {
	text-decoration: none;
	color: white;
	background-color: var(--secondary-color-background);
	padding: 1em;
	margin: 2em;
	border-radius: 2em;
}

article:nth-of-type(3) img {
	width: 100%;
	display: block;
	border-top-left-radius: 1em;
	border-top-right-radius: 1em;
}

article:nth-of-type(3) p {
	margin: 0 2em;
}

article:nth-of-type(3) h3 {
	margin: 1.3em;
}


/* article 4 */
article:nth-of-type(4) {
	background-color: var(--secondary-color-background);
	color: #eee;
	border-radius: 1em;
	padding-bottom: 1em;
	margin: 1em;

}

article:nth-of-type(4) a {
	text-decoration: none;
	color: black;
	background-color: white;
	padding: 1em;
	margin: 2em;
	border-radius: 2em;
}

article:nth-of-type(4) img {
	border-top-left-radius: 1em;
	border-top-right-radius: 1em;
}

article:nth-of-type(4) p {
	margin: 2em;
}

article:nth-of-type(4) h3 {
	margin: 1.3em;
}

/* article 5 */

article:nth-of-type(5) {
	background-color: var(--color-background);
	color: #000000DE;
	border-radius: 1em;
	padding-bottom: 1em;
	margin: 1em;
}

article:nth-of-type(5) a {
	text-decoration: none;
	color: white;
	background-color: var(--secondary-color-background);
	padding: 1em;
	margin: 3em;
	border-radius: 2em;
}

article:nth-of-type(5) h2 {
	background-color: #006241;
	padding: 3em;
	color: white;
	border-top-left-radius: .5em;
	border-top-right-radius: .5em;

}

article:nth-of-type(5) h3 {
	margin: 1.3em;
}

article:nth-of-type(5) p {
	margin: 2em;
}

/* article 6 */

article:nth-of-type(6) {
	background-color: var(--secondary-color-background);
	color: #eee;
	border-radius: 1em;
	padding-bottom: 1em;
	margin: 1em;
}

article:nth-of-type(6) a {
	text-decoration: none;
	color: black;
	background-color: white;
	padding: 1em;
	border-radius: 2em;
	margin: 2em;
}

article:nth-of-type(6) img {
	border-top-left-radius: 1em;
	border-top-right-radius: 1em;
}

article:nth-of-type(6) h3 {
	padding-left: 1.3em;
	margin-bottom: 0;
}



article:nth-of-type(6) p {
	margin: 2em;
	margin-top: 0.6em
}


/* article 7 */

article:nth-of-type(7) {
	background-color: #eee;
	color: #000000DE;
	border-radius: 1em;
	padding-bottom: 1em;
	margin: 1em;
}

article:nth-of-type(7) a {
	text-decoration: none;
	color: white;
	background-color: var(--secondary-color-background);
	padding: 1em;
	border-radius: 2em;
	margin: 2em;
}

article:nth-of-type(7) p {
	margin: 2em;
	margin-top: 0;
}

article:nth-of-type(7) h3 {
	padding-left: 1.3em;
}


article:nth-of-type(7) img {
	border-top-right-radius: 1em;
	border-top-left-radius: 1em;
}


/* article 8 */
article:nth-of-type(8) {
	background-color: var(--secondary-color-background);
	color: #eee;
	border-radius: 1em;
	padding-bottom: 1em;
	margin: 1em;
}

article:nth-of-type(8) a {
	text-decoration: none;
	color: black;
	background-color: white;
	padding: 1em;
	border-radius: 2em;
	margin: 2em;
}

article:nth-of-type(8) h3 {
	padding-left: 1.3em;
}

article:nth-of-type(8) p {
	margin: 2em;
}



/* article 8 voor groot scherm */
@media(min-width:920px) {
	main article:nth-of-type(8) {
		grid-column: span 2;
		margin-left: 1em;
		margin-right: 14em;
		border-radius: 0.5em;

		display: flex;
		flex-direction: row-reverse;
		justify-content: center;
		align-items: center;
	}

	/* De feestdagen klassiekers zijn terug */
	article:nth-of-type(8) h3 {
		position: absolute;
		color: white;
		left: 9em;
		margin-bottom: 6em;

	}

	/* locatie delen button */
	article:nth-of-type(8) a {
		position: absolute;
		left: 13em;
		margin-top: 11em;

	}


}