@font-face {
	font-family: "sodo-sans";
	src: url("../fonts/sodo-sans-8.woff");
}

/* bron: https://www.azfonts.net/fonts/sodo-sans/regular-307605/download */
/**************/


/* CSS REMEDY */
/**************/
*,
*::after,
*::before {
	box-sizing: border-box;
}

/*********************/
/* CUSTOM PROPERTIES */
/*********************/
:root {
	/* startje */
	--color-text: #111;
	--color-background: #eee;
	--secondary-color-background: #00754A;
	overflow-x: hidden;
}


/****************/
/* JOUW STYLING */
/****************/

body {
	font-family: "sodo-sans";
}

main img {
	width: 100%;
}

h3 {
	font-size: 1.5em;
	padding-left: -1em;
}

a body {
	text-decoration: none;
	background-color: #006241;
	color: #eee;
	border-radius: 2em;

}

button:nth-of-type(1) {
	border:none;
	background-color: white;
}

/* navigatie */
 
/* hulp van studentenassistenten voor navigatiebalk */

/* klein scherm */

@media(min-width:400px) {
	nav a {
		display: none;
		
	}
}

@media (min-width:400px) {
	nav button {
		margin-left: 25em;
	}
}



@media(min-width:400px) {
	nav details {
		display: none;
		
	}
}


/* groot scherm */

@media(min-width:600px) {
	nav button {
		display: none;
		
	}
}

@media(min-width:600px) {
	nav a {
		display: flex;
	}
}


ul:nth-of-type(1) {
	display: flex;
	justify-content: space-between;
	list-style: none;
	flex-shrink: 0;
	text-decoration: none;
	align-items: center;
	color: black;
	--color-background: #eee;
	padding-left: 0;
}


nav a {
	text-decoration: none;
	color: black;
}

nav img {
	width: 3em;
	height: 3em;
	order: -1
}

main a {
	display: flex;
	justify-content: center;

}

/* menu  */

header {
	border-bottom: 1px solid #E2E8F0;
}

nav {
	display: flex;
	justify-content: space-between;
    align-items: center;
    padding: 1em 1.5em;
}



/* article 1 */

main article {
	margin-bottom: 2em;
}

article:nth-of-type(1) {
	background-color: var(--secondary-color-background);
	color: white;
	position: relative;
}

article:nth-of-type(1) img {
	width: 100%;
}

article:nth-of-type(1) a {
	padding: 1em;
	color: black;
	text-decoration: none;
	background-color: white;
	border-radius: 2em;
	margin: 1em;
}

article:nth-of-type(1) h1 {
	padding: 1em;
  }

  article:nth-of-type(1) h2 {
	position: absolute;
	top: 7em;
	right:7em;
	bottom:8em;
	left: -1em;
 }



/* article 2 */

article:nth-of-type(2) {
	background-color: var(--secondary-color-background);
	color: #eee;
	border-radius: 1em;
	padding-bottom: 1em;
	position: relative;
}

article:nth-of-type(2) a {
	text-decoration: none;
	color: black;
	background-color: white;
	padding: 1em;
	margin: 2em;
	border-radius: 2em;
}

article:nth-of-type(2) img {
	width: 100%;
	display: block;
	border-top-left-radius: 1em;
	border-top-right-radius: 1em;
}

article:nth-of-type(2) img:nth-of-type(2)  {
	width: 8%;
	position: absolute;
	top: 5em;
	right:7em;
	left: 4em;
	bottom: 0;

}


article:nth-of-type(2) h2:nth-of-type(2)  {
	position: absolute;
	top: 1.8em;
	right:7em;
	left: 1.8em;
	bottom: 0;
}



article:nth-of-type(2) p {
	padding: 0 2em;
}


article:nth-of-type(2) h2 {
	position: absolute;
	top: .5em;
	right:7em;
	left: -1em;
	bottom: 0;
	font-size: 2em;

 }

 /* "limited Edition" */
 article:nth-of-type(2) p:nth-of-type(2) {
	position: absolute;
	padding: 0 2em;
	top: 10.5em;
	background-color: #006241;
	left: 6em;
 }

/* geholpen door aya */
 article:nth-of-type(2) p:nth-of-type(1){
	position: absolute;
	padding: 0 2em;
	top: 7em;
	left: 2em;
	right: 18em;
 }


/* article 3 */

article:nth-of-type(3) {
	background-color: lightgrey;
	color: #000000DE;
	border-radius: 1em;
	padding-bottom: 1em;
}

article:nth-of-type(3) a {
	text-decoration: none;
	color: white;
	background-color: var(--secondary-color-background);
	padding: 1em;
	margin: 2em;
	border-radius: 2em;
}

article:nth-of-type(3) img {
	width: 100%;
	display: block;
	border-top-left-radius: 1em;
	border-top-right-radius: 1em;
}

article:nth-of-type(3) p,
h2,
h3,
a {
	padding: 0 2em;
}



/* article 4 */


article:nth-of-type(4) {
	background-color: var(--secondary-color-background);
	color: #eee;
	border-radius: 1em;
	padding-bottom: 1em;

}

article:nth-of-type(4) a {
	text-decoration: none;
	color: black;
	background-color: white;
	padding: 1em;
	margin: 2em;
	border-radius: 2em;
}

article:nth-of-type(4) img {
	border-top-left-radius: 1em;
	border-top-right-radius: 1em;
}

article:nth-of-type(4) p, a{
	padding: 0 2em;
}


/* article 5 */

article:nth-of-type(5) {
	background-color: var(--color-background);
	color: #000000DE;
	border-radius: 1em;
	padding-bottom: 1em;
}

article:nth-of-type(5) a {
	text-decoration: none;
	color: white;
	background-color: var(--secondary-color-background);
	padding: 1em;
	margin: 3em;
	border-radius: 2em;
}

article:nth-of-type(5) h2 {
	background-color: #006241;
	padding: 3em;
	color: white;
	border-top-left-radius: .5em;
	border-top-right-radius: .5em;

}

article:nth-of-type(5) p {
	padding: 0 2em;
}

/* article 6 */

article:nth-of-type(6) {
	background-color: var(--secondary-color-background);
	color: #eee;
	border-radius: 1em;
	padding-bottom: 1em;
}

article:nth-of-type(6) a {
	text-decoration: none;
	color: black;
	background-color: white;
	padding: 1em;
	border-radius: 2em;
	margin: 2em;
}

article:nth-of-type(6) img {
	border-top-left-radius: 1em;
	border-top-right-radius: 1em;
}

article:nth-of-type(6) p {
	padding:0 2em;
}

/* article 7 */

article:nth-of-type(7) {
	background-color: lightgrey;
	color: #000000DE;
	border-radius: 1em;
	padding-bottom: 1em;
}

article:nth-of-type(7) a {
	text-decoration: none;
	color: white;
	background-color: var(--secondary-color-background);
	padding: 1em;
	border-radius: 2em;
	margin: 2em;
}

article:nth-of-type(7) p {
	padding: 0 2em;
}
article:nth-of-type(7) img {
	border-top-right-radius: 1em;
	border-top-left-radius: 1em;
}

/* article 8 */

article:nth-of-type(8) {
	background-color: var(--secondary-color-background);
	color: #eee;
	border-radius: 1em;
	padding-bottom: 1em;
}

article:nth-of-type(8) a {
	text-decoration: none;
	color: black;
	background-color: white;
	padding: 1em;
	border-radius: 2em;
	margin: 2em;
}

article:nth-of-type(8) p {
	padding: 0 2em;
}

article:nth-of-type(8) div {
	border-top-left-radius: 1em;
	border-top-right-radius: 1em;
}

/*footer*/
footer {
	font-size: 1.2em;
	background-color: #1e3932;
	color: white;

}

footer img {
	max-width: 25%;
	padding: 1em;
}

footer a {
	text-decoration: none;
	color: #FFFFFFB2;
	display: flex;
	margin: .5em;
	padding: .25em;

}

footer:nth-of-type(1) ul {
	display: block;
	padding-left: 1em;
}


details {
	padding: .25em;
}

