/**************/
/* CSS REMEDY */
/**************/
*, *::after, *::before {
  box-sizing:border-box;  
}






/*********************/
/* CUSTOM PROPERTIES */
/*********************/
:root {
	/* startje */
	--color-text:#111;
	--color-background:#eee;
	--secondary-color-background:#006241;
}





/****************/
/* JOUW STYLING */
/****************/


body {
    background-color: white;
    
}

@font-face {
    font-family: "Lato-Regular",sans-serif;
    src: url(./fonts/Lato/Lato-Regular.ttf);
}

h1 {
    font-family: "Lato-Regular";
}

h3 {
    font-size: 1.5em;
}

.index header {
    background-color: #006241;
}

nav {
    background-color: white;
}

footer {
    background-color: darkslategrey;
}

.index article {
    background-color: #006241;
}

